@import "compass";
@import "susy";
@import 'photoshop-drop-shadow';
$susy:(
	container :1267px,
	columns: 14
	//math: static,	
  	//gutter-position: inside,
   // gutters: .1,
    
  

  );

//@include layout(14 (80px 10px) static border-box);
.wrap{
	@include container;
  min-width: 960px;
}
.content{
	margin-top: 70px;
    padding: 0 0 $footerH;
   
	}
aside{
	@include span(3);
}
.inner{
  @include span(9 last);
}






